.form {
  padding: 15px;
  background: #d2d8f4;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 10px 3px 10px 0px rgb(12 12 12 / 20%);
}

.form input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 90%;
  margin: 5px 0;
}
